
$white-color:#fff;
$gray-1-color:#F3F3F3;
$gray-2-color:#868686;
$gray-3-color:#232323;
$black-color:#101010;
$green-color:#9EFFBF;
$purple-color:#7941A7;
$pink-color:#E2BEFF;
$blue-color:#1059C8;

$main-font: TT Commons, sans-serif;